<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}


.hero {
  display: flex;
  height: 600px;
  width: 100%;
  background-color: white;     
}

.image{
  display: flex;
  height: 600px;
  width: 100%;  
  justify-content: left;
  background-blend-mode: overlay;              
}

img {
  display: flex;
  height: 600px; 
  width : 50%;
  background-blend-mode: overlay;              
}          

.hero h1 {
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            align-items: flex-start;
            padding: 0 5%;
            /* Light background color for contrast */
}

.hero h1 {
            font-size: 3.5em;
            margin: 0 0 10px;
            color: #333; /* Text color */
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
  }

.rear{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}

.add{
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid blue;
  border-radius:3px;
  height: 40px;
  width: 40px;
  margin:0 10px;
  font-size:2em;
  color:#333;
  text-decoration:none
}

.logout{
  display:flex;
  align-items:center;
  justify-content:center;
  border:2px solid red;
  border-radius:3px;
  margin:0 10px;
  font-size:2em;
  text-decoration:none
}

.logo{
  border:0.8px solid blue;
  border-radius:3px;
  text-decoration:none;
  padding: 6px 12px;
  display:inline-flex;
  align-items:center;
  align-content:center;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  justify-content: left;
  width: 100% ;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  position:absolute;
  left:20px;
  top:20px;
  text-decoration:none
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}


    </style>
</head>
<body>
     <div class="header">
          <div class="hero">
            <div class="image">
              <h1>Travel Inspiration</h1>
              <img src="../../uploads/5461346_2756316.jpg" alt="Hero-image">
            </div>
           
          </div>
        <div class="sides" >
          <a href="/Home" class="logo">BLOG</a>
        </div>
        <div class="rear">
          <div class="logout">
            <a href="/logout" class="btn">Logout</a>
          </div>
          <div class="add">
            <a href="/add"><h2>+</h2></a>
          </div>
        </div>
        
    </div>
      
</body>
</html>
